# vim: set syntax=python:

# stuff to make the below easier
FG_URL_PUBLIC = "{{ pulp_url }}"

# internal (docker) urls
FG_URL_INT_API = "http://{{ pulp_api_service }}:24817"
FG_URL_INT_CONTENT = "http://{{ pulp_api_service }}:24816"

# Django stuff
SECRET_KEY = "{{ pulp_secretkey }}" #FIXME: use secret
DATABASES = {
    "default": {
        "HOST": "{{ pulp_db_host }}", 
        "ENGINE": "django.db.backends.postgresql", 
        "NAME": "{{ pulp_db_name }}", 
        "USER": "{{ pulp_db_user }}", 
        "PASSWORD": "{{ pulp_db_pw }}", # FIXME: use secret
        "PORT": "5432", 
        "CONN_MAX_AGE": 0, 
        "OPTIONS": {"sslmode": "prefer"}
    }
}

STATIC_ROOT = "/var/lib/operator/static/"

# Pulp stuff
DB_ENCRYPTION_KEY = "/run/secrets/{{ pulp_secret_db_enckey }}"

ALLOWED_IMPORT_PATHS = ["/tmp"]
ALLOWED_EXPORT_PATHS = ["/tmp"]
ANALYTICS = False

# Redis cache
CACHE_ENABLED = True
REDIS_HOST = "{{ pulp_cache_service }}"
REDIS_PORT = {{ pulp_cache_port | default(6379) | int }}
REDIS_PASSWORD = "{{ pulp_cache_password | default('') }}"

##
# Content configuration below
##
CONTENT_ORIGIN = FG_URL_PUBLIC

# content: container
TOKEN_AUTH_DISABLED = False
TOKEN_SERVER = "{{ pulp_token_url }}"
TOKEN_SIGNATURE_ALGORITHM = "{{ pulp_token_algorithm }}"
TOKEN_EXPIRATION_TIME = {{ pulp_token_lifetime | int }}
PUBLIC_KEY_PATH = "/etc/pulp/certs/container_auth_public_key.pem"
PRIVATE_KEY_PATH = "/etc/pulp/certs/container_auth_private_key.pem"

# content: ansible
ANSIBLE_API_HOSTNAME = FG_URL_PUBLIC
ANSIBLE_CONTENT_HOSTNAME = FG_URL_PUBLIC + "/pulp/content"
